<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CacheManager.Core" version="1.1.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.2.0" targetFramework="net461" />
  <package id="Castle.WcfIntegrationFacility" version="4.1.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net461" />
  <package id="Citystate.Common" version="1.2.40" targetFramework="net461" />
  <package id="FluentValidation" version="7.1.1" targetFramework="net461" />
  <package id="InternetBank.Domains" version="0.9.625.908" targetFramework="net461" />
  <package id="InternetBank.Services.Interface" version="1.0.0.8" targetFramework="net461" />
  <package id="InternetBank.Services.SecurityTokenIssueProvider.Interfaces" version="0.9.190.907" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>